WindowsFormsApp1/Connected Services/ServiceReference1/webservice4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarCustomerDemographics">
        <s:complexType />
      </s:element>
      <s:element name="ListarCustomerDemographicsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarCustomerDemographicsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarCustomerDemographics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerTypeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerDesc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarCustomerDemographicsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgregarCustomerDemographicsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizarCustomerDemographics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerTypeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerDesc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCustomerDemographicsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarCustomerDemographicsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarCustomerDemographics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerTypeID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarCustomerDemographicsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarCustomerDemographicsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarCustomerDemographics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarCustomerDemographicsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarCustomerDemographicsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarRegion">
        <s:complexType />
      </s:element>
      <s:element name="ListarRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarRegionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RegionDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgregarRegionResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RegionDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarRegionResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarRegionResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarRegionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarShippers">
        <s:complexType />
      </s:element>
      <s:element name="ListarShippersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarShippersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarShippers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ShipperID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarShippersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgregarShippersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarShippers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ShipperID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarShippersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarShippersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarShippers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ShipperID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarShippersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarShippersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarShippers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="criterio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarShippersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarShippersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarCustomerDemographicsSoapIn">
    <wsdl:part name="parameters" element="tns:ListarCustomerDemographics" />
  </wsdl:message>
  <wsdl:message name="ListarCustomerDemographicsSoapOut">
    <wsdl:part name="parameters" element="tns:ListarCustomerDemographicsResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarCustomerDemographicsSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarCustomerDemographics" />
  </wsdl:message>
  <wsdl:message name="AgregarCustomerDemographicsSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarCustomerDemographicsResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCustomerDemographicsSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarCustomerDemographics" />
  </wsdl:message>
  <wsdl:message name="ActualizarCustomerDemographicsSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarCustomerDemographicsResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarCustomerDemographicsSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarCustomerDemographics" />
  </wsdl:message>
  <wsdl:message name="EliminarCustomerDemographicsSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarCustomerDemographicsResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarCustomerDemographicsSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarCustomerDemographics" />
  </wsdl:message>
  <wsdl:message name="BuscarCustomerDemographicsSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarCustomerDemographicsResponse" />
  </wsdl:message>
  <wsdl:message name="ListarRegionSoapIn">
    <wsdl:part name="parameters" element="tns:ListarRegion" />
  </wsdl:message>
  <wsdl:message name="ListarRegionSoapOut">
    <wsdl:part name="parameters" element="tns:ListarRegionResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarRegionSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarRegion" />
  </wsdl:message>
  <wsdl:message name="AgregarRegionSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarRegionResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarRegionSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarRegion" />
  </wsdl:message>
  <wsdl:message name="ActualizarRegionSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarRegionResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarRegionSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarRegion" />
  </wsdl:message>
  <wsdl:message name="EliminarRegionSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarRegionResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarRegionSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarRegion" />
  </wsdl:message>
  <wsdl:message name="BuscarRegionSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarRegionResponse" />
  </wsdl:message>
  <wsdl:message name="ListarShippersSoapIn">
    <wsdl:part name="parameters" element="tns:ListarShippers" />
  </wsdl:message>
  <wsdl:message name="ListarShippersSoapOut">
    <wsdl:part name="parameters" element="tns:ListarShippersResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarShippersSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarShippers" />
  </wsdl:message>
  <wsdl:message name="AgregarShippersSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarShippersResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarShippersSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarShippers" />
  </wsdl:message>
  <wsdl:message name="ActualizarShippersSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarShippersResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarShippersSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarShippers" />
  </wsdl:message>
  <wsdl:message name="EliminarShippersSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarShippersResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarShippersSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarShippers" />
  </wsdl:message>
  <wsdl:message name="BuscarShippersSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarShippersResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService4Soap">
    <wsdl:operation name="ListarCustomerDemographics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar CustomerDemographics con SP</wsdl:documentation>
      <wsdl:input message="tns:ListarCustomerDemographicsSoapIn" />
      <wsdl:output message="tns:ListarCustomerDemographicsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarCustomerDemographics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar CustomerDemographics con SP</wsdl:documentation>
      <wsdl:input message="tns:AgregarCustomerDemographicsSoapIn" />
      <wsdl:output message="tns:AgregarCustomerDemographicsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCustomerDemographics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualizar CustomerDemographics con SP</wsdl:documentation>
      <wsdl:input message="tns:ActualizarCustomerDemographicsSoapIn" />
      <wsdl:output message="tns:ActualizarCustomerDemographicsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCustomerDemographics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Eliminar CustomerDemographics con SP</wsdl:documentation>
      <wsdl:input message="tns:EliminarCustomerDemographicsSoapIn" />
      <wsdl:output message="tns:EliminarCustomerDemographicsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCustomerDemographics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar CustomerDemographics con SP</wsdl:documentation>
      <wsdl:input message="tns:BuscarCustomerDemographicsSoapIn" />
      <wsdl:output message="tns:BuscarCustomerDemographicsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarRegion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar Region con SP</wsdl:documentation>
      <wsdl:input message="tns:ListarRegionSoapIn" />
      <wsdl:output message="tns:ListarRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarRegion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar Region con SP</wsdl:documentation>
      <wsdl:input message="tns:AgregarRegionSoapIn" />
      <wsdl:output message="tns:AgregarRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarRegion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualizar Region con SP</wsdl:documentation>
      <wsdl:input message="tns:ActualizarRegionSoapIn" />
      <wsdl:output message="tns:ActualizarRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRegion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Eliminar Region con SP</wsdl:documentation>
      <wsdl:input message="tns:EliminarRegionSoapIn" />
      <wsdl:output message="tns:EliminarRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarRegion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar Region con SP</wsdl:documentation>
      <wsdl:input message="tns:BuscarRegionSoapIn" />
      <wsdl:output message="tns:BuscarRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarShippers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar Shippers con SP</wsdl:documentation>
      <wsdl:input message="tns:ListarShippersSoapIn" />
      <wsdl:output message="tns:ListarShippersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarShippers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar Shippers con SP</wsdl:documentation>
      <wsdl:input message="tns:AgregarShippersSoapIn" />
      <wsdl:output message="tns:AgregarShippersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarShippers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualizar Shippers con SP</wsdl:documentation>
      <wsdl:input message="tns:ActualizarShippersSoapIn" />
      <wsdl:output message="tns:ActualizarShippersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarShippers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Eliminar Shippers con SP</wsdl:documentation>
      <wsdl:input message="tns:EliminarShippersSoapIn" />
      <wsdl:output message="tns:EliminarShippersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarShippers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar Shippers con SP</wsdl:documentation>
      <wsdl:input message="tns:BuscarShippersSoapIn" />
      <wsdl:output message="tns:BuscarShippersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService4Soap" type="tns:WebService4Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarCustomerDemographics">
      <soap:operation soapAction="http://tempuri.org/ListarCustomerDemographics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCustomerDemographics">
      <soap:operation soapAction="http://tempuri.org/AgregarCustomerDemographics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCustomerDemographics">
      <soap:operation soapAction="http://tempuri.org/ActualizarCustomerDemographics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCustomerDemographics">
      <soap:operation soapAction="http://tempuri.org/EliminarCustomerDemographics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCustomerDemographics">
      <soap:operation soapAction="http://tempuri.org/BuscarCustomerDemographics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRegion">
      <soap:operation soapAction="http://tempuri.org/ListarRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarRegion">
      <soap:operation soapAction="http://tempuri.org/AgregarRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarRegion">
      <soap:operation soapAction="http://tempuri.org/ActualizarRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRegion">
      <soap:operation soapAction="http://tempuri.org/EliminarRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarRegion">
      <soap:operation soapAction="http://tempuri.org/BuscarRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarShippers">
      <soap:operation soapAction="http://tempuri.org/ListarShippers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarShippers">
      <soap:operation soapAction="http://tempuri.org/AgregarShippers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarShippers">
      <soap:operation soapAction="http://tempuri.org/ActualizarShippers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarShippers">
      <soap:operation soapAction="http://tempuri.org/EliminarShippers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarShippers">
      <soap:operation soapAction="http://tempuri.org/BuscarShippers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService4Soap12" type="tns:WebService4Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarCustomerDemographics">
      <soap12:operation soapAction="http://tempuri.org/ListarCustomerDemographics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCustomerDemographics">
      <soap12:operation soapAction="http://tempuri.org/AgregarCustomerDemographics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCustomerDemographics">
      <soap12:operation soapAction="http://tempuri.org/ActualizarCustomerDemographics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCustomerDemographics">
      <soap12:operation soapAction="http://tempuri.org/EliminarCustomerDemographics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCustomerDemographics">
      <soap12:operation soapAction="http://tempuri.org/BuscarCustomerDemographics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRegion">
      <soap12:operation soapAction="http://tempuri.org/ListarRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarRegion">
      <soap12:operation soapAction="http://tempuri.org/AgregarRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarRegion">
      <soap12:operation soapAction="http://tempuri.org/ActualizarRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRegion">
      <soap12:operation soapAction="http://tempuri.org/EliminarRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarRegion">
      <soap12:operation soapAction="http://tempuri.org/BuscarRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarShippers">
      <soap12:operation soapAction="http://tempuri.org/ListarShippers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarShippers">
      <soap12:operation soapAction="http://tempuri.org/AgregarShippers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarShippers">
      <soap12:operation soapAction="http://tempuri.org/ActualizarShippers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarShippers">
      <soap12:operation soapAction="http://tempuri.org/EliminarShippers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarShippers">
      <soap12:operation soapAction="http://tempuri.org/BuscarShippers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService4">
    <wsdl:port name="WebService4Soap" binding="tns:WebService4Soap">
      <soap:address location="http://dais-w-03.somee.com/webservice4.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService4Soap12" binding="tns:WebService4Soap12">
      <soap12:address location="http://dais-w-03.somee.com/webservice4.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>